#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    justify-content: center;
}

.square{
    box-sizing:border-box;
}

#btn{
    font-size: 30px;
}

#header{
    text-align:center;
}